
  <%= @the_user.own_photos.each do |a_photo| %>

  <%= @the_user.own_photos.each do |a_photo| %>

        <tr>
            <td>
            <%=  a_photo.image %>
            </td>

            <td>
            <%=  a_photo.owner_id %>
            </td>

            <td>
            <%=  a_photo.caption %>
            </td>

            <td>
            <%= a_photo.created_at %>
            </td>

            <td>
            <a href="/users/<%=  %>">
                Show details
            </a>
            </td>
        </tr>