<h1>List of photos</h1>

<form action="/insert_photo">

  <label for="add_image">Image</label>
  <input id="add_image" type="text" placeholder="Enter a URL for the image..." name="query_image">

  <label for="add_caption">Caption</label>
  <textarea input id="add_caption" type="text" placeholder="Enter a caption for the photo..." name="query_caption"></textarea>

  <label for="add_owner_id">Owner ID</label>
  <input id="add_owner_id" type="text" placeholder="Enter an ID of a User..." name="query_owner_id">

  <button>Add photo</button>

</form>

<hr>

<table border="1">
        <tr>
            <th>
            Image
            </th>

            <th>
            Caption
            </th>

            <th>
            Owner
            </th>
            
            <th>
            Posted
            </th>

            <th>
            </th>
        </tr>

    <% @list_of_photos.each do |a_photo| %>

        <tr>
            <td>
                <img src="<%= a_photo.image %>">
            </td>

            <td>
                <%= a_photo.caption %>
            </td>

            <td>
                <%= a_photo.poster.username %>
            </td>

            <td>
                <%= a_photo.created_at %>
            </td>

            <td>
                <a href="/photos/<%= a_photo.id %>">
                Show details
                </a>
            </td>            
        </tr>        
    <% end %>
</table>
