<h1>List of photos</h1>

<form action="/photos/">

  <label for="add_image">Image</label>
  <input id="add_image" type="text" placeholder="Enter a URL for the image..." name="image">

  <label for="add_caption">Caption</label>
  <textarea input id="add_caption" type="text" placeholder="Enter a caption for the photo..." name="caption"></textarea>

  <label for="add_owner_id">Owner ID</label>
  <input id="add_owner_id" type="text" placeholder="Enter an ID of a User..." name="owner_id">

  <button>Add photo</button>

</form>

<hr>

    <table border="1">
        <tr>
            <th>
            Image
            </th>

            <th>
            Caption
            </th>

            <th>
            Owner
            </th>
            
            <th>
            Posted
            </th>

            <th>
            </th>
        </tr>

<% @list_of_photos.each do |a_photo| %>

        <tr>
            <th>
                <img src="<%= a_photo.image %>">
            </th>

            <th>
                <%= a_photo.caption %>
            </th>

            <th>
                <%= a_photo.owner_id %>
            </th>

            <th>
                <%= a_photo.created_at %>
            </th>

            <th>
                <a href="/photos/<%= a_photo.id %>">
                Show details
                </a>
            </th>            
        </tr>        

<% end %>